{% extends 'base.html.twig' %}

{% block title %}Expense index{% endblock %}

{% block body %}

<div class="container">

    {% include 'includes/_navbar.html.twig' %}

    <h1>Manage your expenses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
                <th>Method</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.title }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.date ? expense.date|date('Y-m-d') : '' }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.method }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('expense_show', {'id': expense.id}) }}">Show</a>
                    <a class="btn btn-secondary"href="{{ path('expense_edit', {'id': expense.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('expense_new') }}">Create new</a>
</div>
{% endblock %}
