{% extends 'base.html.twig' %}

{% block title %}Method index{% endblock %}

{% block body %}

<div class="container">

    {% include 'includes/_navbar.html.twig' %}

    <h1>Manage your Payment Methods</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for method in methods %}
            <tr>
                <td>{{ method.id }}</td>
                <td>{{ method.name }}</td>
                <td>{{ method.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('method_show', {'id': method.id}) }}">Show</a>
                    <a class="btn btn-secondary" href="{{ path('method_edit', {'id': method.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('method_new') }}">Create new</a>

</div>
{% endblock %}
